@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#headlessui-listbox-option-\:r1\: {
  font-family: Arial, sans-serif;
}

#headlessui-listbox-option-\:r2\: {
  font-family: Arial, sans-serif;
}

#headlessui-listbox-option-\:r3\: {
  font-family: Arial, sans-serif;
}
