/* @import "@gespenst/ui/dist/style.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

li[data-headlessui-state] {
  font-family: Arial, sans-serif;
}
