@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 263 70% 50%;
  --muted: 0 0% 95%;
  --muted-foreground: 0 0% 56%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --radius: 0.5rem;
  --geist-icons-amber-800: oklch(77.21% 0.1991 64.28);
  --geist-icons-background-100: #fff;
  --geist-icons-blue-700: oklch(57.61% 0.2508 258.23);
  --geist-icons-blue-900: oklch(53.18% 0.2399 256.9900584162342);
  --geist-icons-gray-1000: #171717;
  --geist-icons-gray-100: #f2f2f2;
  --geist-icons-red-700: oklch(62.56% 0.2524 23.03);
}

.dark {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 263 70% 50%;
  --muted: 0 0% 10%;
  --muted-foreground: 0 0% 56%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
  --geist-icons-background-100: #0a0a0a;
  --geist-icons-blue-700: oklch(57.61% 0.2321 258.23);
  --geist-icons-blue-900: oklch(71.7% 0.1648 250.79360374054167);
  --geist-icons-gray-1000: #ededed;
  --geist-icons-gray-100: #1a1a1a;
  --geist-icons-red-700: oklch(62.56% 0.2524 23.03);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
