@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gespenst-background: 0 0% 100%;
  --gespenst-foreground: 0 0% 3.9%;
  --gespenst-card: 0 0% 100%;
  --gespenst-card-foreground: 0 0% 3.9%;
  --gespenst-popover: 0 0% 100%;
  --gespenst-popover-foreground: 0 0% 3.9%;
  --gespenst-primary: 0 0% 9%;
  --gespenst-primary-foreground: 0 0% 98%;
  --gespenst-secondary: 0 0% 96.1%;
  --gespenst-secondary-foreground: 263 70% 50%;
  --gespenst-muted: 0 0% 95%;
  --gespenst-muted-foreground: 0 0% 56%;
  --gespenst-accent: 0 0% 96.1%;
  --gespenst-accent-foreground: 0 0% 9%;
  --gespenst-destructive: 0 84.2% 60.2%;
  --gespenst-destructive-foreground: 0 0% 98%;
  --gespenst-border: 0 0% 89.8%;
  --gespenst-input: 0 0% 89.8%;
  --gespenst-ring: 0 0% 3.9%;
  --gespenst-radius: 0.5rem;
  --gespenst-geist-icons-amber-800: oklch(77.21% 0.1991 64.28);
  --gespenst-geist-icons-background-100: #fff;
  --gespenst-geist-icons-blue-700: oklch(57.61% 0.2508 258.23);
  --gespenst-geist-icons-blue-900: oklch(53.18% 0.2399 256.9900584162342);
  --gespenst-geist-icons-gray-1000: #171717;
  --gespenst-geist-icons-gray-100: #f2f2f2;
  --gespenst-geist-icons-red-700: oklch(62.56% 0.2524 23.03);
}

.dark {
  --gespenst-background: 0 0% 3.9%;
  --gespenst-foreground: 0 0% 98%;
  --gespenst-card: 0 0% 3.9%;
  --gespenst-card-foreground: 0 0% 98%;
  --gespenst-popover: 0 0% 3.9%;
  --gespenst-popover-foreground: 0 0% 98%;
  --gespenst-primary: 0 0% 98%;
  --gespenst-primary-foreground: 0 0% 9%;
  --gespenst-secondary: 0 0% 14.9%;
  --gespenst-secondary-foreground: 263 70% 50%;
  --gespenst-muted: 0 0% 10%;
  --gespenst-muted-foreground: 0 0% 56%;
  --gespenst-accent: 0 0% 14.9%;
  --gespenst-accent-foreground: 0 0% 98%;
  --gespenst-destructive: 0 62.8% 30.6%;
  --gespenst-destructive-foreground: 0 0% 98%;
  --gespenst-border: 0 0% 14.9%;
  --gespenst-input: 0 0% 14.9%;
  --gespenst-ring: 0 0% 83.1%;
  --gespenst-geist-icons-background-100: #0a0a0a;
  --gespenst-geist-icons-blue-700: oklch(57.61% 0.2321 258.23);
  --gespenst-geist-icons-blue-900: oklch(71.7% 0.1648 250.79360374054167);
  --gespenst-geist-icons-gray-1000: #ededed;
  --gespenst-geist-icons-gray-100: #1a1a1a;
  --gespenst-geist-icons-red-700: oklch(62.56% 0.2524 23.03);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
